*
{
    margin: 0px;
    padding: 0px;
    background-color: var(--background);
    box-sizing: border-box;
}

:root
{
    --background: #EEEEEE;
    --text: #121212;
}

[data-theme="dark"] 
{
    --background: #1e232c;
    --text: #EEEEEE;
}

/*For top navigation bar*/
@font-face {
    font-family: 'Allerta-Stencil';
    src:url('Allerta-Stencil.ttf.woff') format('woff'),
        url('Allerta-Stencil.ttf.svg#Allerta-Stencil') format('svg'),
        url('Allerta-Stencil.ttf.eot'),
        url('Allerta-Stencil.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}
h2, h3
{
    color: var(--text);
}
ul, ul a
{
    list-style-type: none;
    color: var(--text);
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
}
.one li
{
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
}
.navi
{
    padding: 2%;
    right: 33%;
    margin-top: -2.5%;
    padding-left: 20%;
}
.logo
{
    padding: 1.5%;
    margin-top: -2.5%;
}
.login
{
    padding: 1.7%;
    right: 0%;
    margin-top: -2.5%;
    padding-left: 18%;
}

.stocks
{
	margin-left: 500px;
	margin-top: 50px;
}

#se
{
	display: inline;
}

p,button,input
{
	color: var(--text);
}